body {
    padding: 0;
    margin: 0;
}


#login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* margin-top: 100px; */
    /* width: 500px; */
}

.card {
    padding: 40px;
    border-radius: 2px;
    width:370px;
}


.card-content-area {

    /* display: flex; */
    flex-direction: column;
    /* padding:10px 0; */
    /* border: 1px solid black; */
    margin-top: 15px;
    height: 44px;
    border: 1px solid #b8b4b4;
    border-radius: 5px;
}

.card-content-area input {

    /* margin-top: 10px; */
    padding:0 5px;
    background-color: transparent;
    border:none;
    /* border: 1px solid #e1e1e1; */
    outline: none;
    color: black;
    height: 40px;
    border-radius: 5px;
    width: 310px;

}

.card-footer {
    display: flex;
    flex-direction: column;
}

.card-footer .submit{

    width: 100%;
    height: 40px;
    background-color: rgb(25, 196, 139);
    border:none;
    color: black;
    margin: 10px 0;
    border-radius: 5px;

}

a {
    font-size: 14px;
    opacity: 0.8;
    color: rgb(151, 148, 148);
    text-decoration: none;
    

}
.divp{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}
#pnext{
    margin-left: 4px;
    color: rgb(25, 196, 139);
}
.class_h2{
    text-align: center;
}
#p_conta{
    color: rgb(172, 168, 168);
    text-align: center;
}
.td_icon{
    width: 35px;
    height: 40px;
    padding: 0;
    margin: 0;
    text-align: center;
    border-right:1px solid #b8b4b4 ;
}

.recuperar_senha{
    margin-top: 15px;
    margin-bottom: 18px;
}






/* #############################################nav#################################################################### */

.nav1{
    position: fixed;
    top: 0px;
    background-color: white;
    /* border-bottom: 1px solid black; */
    color: black;
    z-index: 5;
    box-shadow: 5px 10px 8px rgb(160, 159, 159);
    width: 100%;
    height: 80px;
    
  }

  .dropbtnInicio , .dropbtnEncTrabalho , .dropbtnEmpregadores , .Entrar , .Registro{
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: white;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    /* overflow: hidden;  */
    margin-top: 15px;
  }
.dropbtnInicio{
    margin-left: 120px;
  }
.Entrar{
    margin-left: 600px;
    border-left: 1px solid black;
}
.dropbtnInicio{
  border-left: 1px solid black;
}
.dropbtnEncTrabalho , .dropbtnEmpregadores{
  margin-left: 10px;
}
  
  /* Dropdown button on hover & focus */
  .dropbtnInicio:hover, .dropbtnInicio:focus , .dropbtnEncTrabalho:hover , 
  .dropbtnEncTrabalho:focus , .dropbtnEmpregadores:hover, .dropbtnEmpregadores:focus ,
  .Entrar:hover , .Entrar:focus, .Registro:hover, .Registro:focus{
    background-color: #797b7c;
  }
  .dropdownInicio , .dropdownEncTrabalho , .dropdownEmpregadores {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content-Inicio , .dropdown-content-EncTrabalho , .dropdown-content-Empregadores{
    display: none;
    position:absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* text-align: center; */
  }

  
  /* Links inside the dropdown */
  .dropdown-content-Inicio a , .dropdown-content-EncTrabalho a , .dropdown-content-Empregadores a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content-Inicio a:hover , .dropdown-content-EncTrabalho a:hover , .dropdown-content-Empregadores a :hover{
    background-color: #ddd;
}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  /* ##########################################################Login############################################################################# */


  .ClassFooter{
    background-color: rgb(46, 45, 45);
    margin-block: 20px;
    color: white;
    margin-bottom: 0;
  }
  .divFooter{
    margin-left: 150px;
  }

  .footer_icons{
    display: flex;
  }

  #td_direitos_reservados{
    width: 900px;
    /* margin-left: 50px; */
    /* margin-right: 1px solid white; */
  }
  
  #td_icons{
    width: 300px;
    /* margin-left: 1px solid white; */
    text-align: center;
  }
  
  #div_icons_footer{
    height: 30px;
  }
  .bt_subir{
    background-color: rgb(25, 196, 139);
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
  }
  #icon_angle{
    height: 30px;
  }
  
  .tb{
    margin: none;
    margin-left: 30px;
  }  

  /* ################################################################################################################################## */
 